<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
  <div id="app">
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="43px" class="demo-ruleForm">
      <el-form-item  prop="name">
        <el-input placeholder="请输入用户名称" prefix-icon="el-icon-user" v-model="ruleForm.name" class="content"></el-input>
      </el-form-item>
      <el-form-item  prop="powss">
        <el-input
        placeholder="请输入密码"
        prefix-icon="el-icon-lock"
        show-password
        v-model="ruleForm.powss"
        class="powss"
      ></el-input>
      </el-form-item>
      <el-form-item  prop="code">
        <el-row>
          <el-col :span="17">
            <div class="grid-content bg-purple">
              <el-input
                placeholder="请输入验证码"
                prefix-icon="el-icon-key"
                v-model="ruleForm.code"
                class="authcode"
              ></el-input>
            </div>
          </el-col>
          <el-col :span="7">
            <div class="grid-content bg-purple-light">
              <img src="../../assets/login_captcha.png" class="image" alt />
            </div>
          </el-col>
        </el-row>
        </el-form-item>
      <el-form-item  prop="type">
          <el-checkbox v-model="ruleForm.type" name="type">
            我已阅读并同意
            <el-link type="primary">用户协议</el-link>和
            <el-link type="primary">隐私条款</el-link>
          </el-checkbox>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
        <el-button @click="resetForm('ruleForm')">重置</el-button>
      </el-form-item>
    </el-form>
  </div>
</body>

</html>
<script>
  new Vue({
    el: '#app',
    data() {
      return {
        ruleForm: {
          name: '',
          type: [],
          powss:'',
          code:''
        },
        rules: {
          name: [
            { required: true, message: '用户名称不能为空', trigger: 'blur' },
            { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
          ],
          powss: [
            { required: true, message: '密码不能为空', trigger: 'blur' },
            { min: 6, max: 12, message: '长度在 6到 12 个字符', trigger: 'blur' }
          ],
          code: [
            { required: true, message: '验证码不能为空', trigger: 'blur' },
            { min: 4, max: 4, message: '长度在 4 个字符', trigger: 'blur' }
          ],
          type: [
            { type: 'array', required: true, message: '请勾选', trigger: 'change' }
          ],
        }
      }
    },
    methods: {
      submitForm(ruleForm) {
        this.$refs[ruleForm].validate((valid) => {
          if (valid) {
            alert('submit!');
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(ruleForm) {
        this.$refs[ruleForm].resetFields();
      }
    }
  })
</script>